@model IEnumerable<VariousTests.WEB.Models.QuestionViewModel>

@{
    ViewBag.Title = ViewBag.Name;
}

<h2>@ViewBag.Title</h2>


<table>
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="form-group">
                    @{ i++;}
                    <hr />
                    <label for="Name" class="col-md-10 control-label">Вопрос № @i</label>
                    <div class="col-md-10">
                        @Html.DisplayFor(modelItem => item.Name, new { @class = "form-control" })
                    </div>
                </div>
            </td>
        </tr>
    }
</table>