@{
    ViewBag.Title = "Завершение регистрации";
}

<h2>@ViewBag.Title</h2>

<p>Ваша учетная запись подтверждена. Можете использовать свои данные, чтобы войти в @Html.ActionLink("систему", "Login", "Account").</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>